<rewrite>
  <rules>
    <rule name="Imported Rule 1" stopProcessing="true">
      <match url=".*" ignoreCase="false" />
      <conditions>
        <!--# Redirect to domain with www.-->
        <add input="{HTTPS}" pattern="off" ignoreCase="false" />
        <add input="{HTTP_HOST}" pattern="^www\." negate="true" />
      </conditions>
      <action type="Redirect" redirectType="Permanent" url="http://www.{HTTP_HOST}{URL}" />
    </rule>
    <rule name="Imported Rule 2" stopProcessing="true">
      <match url=".*" ignoreCase="false" />
      <conditions>
        <!--# Same for HTTPS:-->
        <add input="{HTTPS}" pattern="on" ignoreCase="false" />
        <add input="{HTTP_HOST}" pattern="^www\." negate="true" />
      </conditions>
      <action type="Redirect" redirectType="Permanent" url="https://www.{HTTP_HOST}{URL}" />
    </rule>
  </rules>
</rewrite>